@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Manrope:wght@300;400;500;600;700;800&family=Patua+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none ;
  list-style: none;
  font-family: "Manrope", sans-serif;
}

ul {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

/* --------   Nav    -------- */

header {
  background-color: transparent;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-height: 100px;
  width: 100%;
  padding: 0 200px 0 200px;
}

#audiophile_logo {
  width: 145px;
}

#nav_link_container ul li a {
  color: rgba(255, 255, 255, 1);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

#nav_link_container ul {
  display: flex;
  gap: 35px;
}

#basket_logo {
  cursor: pointer;
  height: 35px;
}

.nav_link {
  position: relative;
}

#logo_container,
#nav_basket {
  display: flex;
  flex: 1;
  gap: 30px;
  align-items: center;
}

#nav_basket {
  justify-content: end;
}

.nav_link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #d87d4a;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#head_title_1 {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  color: #fff;
  opacity: 50%;
  text-transform: uppercase;
}

#head_title_2 {
  font-size: 62px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  color: #fff;
}

#head_title_3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  color: #fff;
  opacity: 65%;
}

#headphone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 44px;
  color: #fff;
}

#login, .nav_profil,.user_name, #register, .nav_gestion {
  padding: 8px 16px;
  background-color: #F5F5F5;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  color: #262626;
  cursor: pointer;
}

.nav_connected {
  display: flex;
  gap: 10px;
}

.nav_logout {
  background-color: brown;
  font-size: 18px;
  border-radius: 30px;
  padding: 8px 16px;
  color: whitesmoke;
  font-weight: 600;
}

.nav_profil:hover{
  color: currentColor;
}

.nav_logout:hover {
  color: white;
}

.user_name {
  cursor: initial;
  margin: 0;
}

/* --------   Home    -------- */

#head_home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 730px;
  background: url("../img/desktop_home/image-hero.jpg ");
  padding: 0 165px 0 165px;
  background-position: 70%;
  background-repeat: no-repeat;
  background-color: #191919;
}

#head_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  max-width: 400px;
  margin-left: 10%;
  position: relative;
}

.h_article_btn {
  position: absolute;
  left: 0;
  bottom: -80px;
}

.home_section.nts1 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  border-radius: 15px;
  background-color: #d87d4a;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 1110px;
  height: 560px;
  padding-right: 120px;
  align-items: center;
}

.home_section.nts1 > img {
  position: absolute;
  height: 460px;
  bottom: -12px;
  left: 140px;
  z-index: 30;
}

.home_section.nts2 {
  padding-left: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  background: url("../img/desktop_home/image-speaker-zx7.jpg");
  background-size: cover;
  width: 1110px;
  border-radius: 15px;
  height: 320px;
  gap: 20px;
}

.home_section.nts3 {
  margin-top: 50px;
  width: 1110px;
  display: flex;
  gap: 30px;
}

.article_img {
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.article_img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.nts3_img {
  border-radius: 10px;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  height: 320px;
  width: 50%;
  background: #dbdbdb;
  padding-left: 100px;
}

.circle {
  position: absolute;
  bottom: 135px;
  left: 330px;
  border-radius: 50%;
  border: solid 1px #fff;
  z-index: 10;
  opacity: 20%;
  transform: translate(-50%, 50%);
}

.circle.first {
  height: 470px;
  width: 470px;
}

.circle.second {
  height: 542px;
  width: 542px;
}

.circle.third {
  height: 944px;
  width: 944px;
}

#headphone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 44px;
}

article {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 160px;
}

.article:last-child{
  margin-bottom: 200px;
}

.home_section.nts1 .article_desc .article_text {
  color: #fff;
  opacity: 75%;
}

.home_section.nts1 .article_desc .article_title {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  color: #fff;
}

.article > img {
  height: 560px;
  width: 540px;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 38px 27px rgba(0, 0, 0, 0.1);
}

.article_desc {
  width: 350px;
}

.new {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  color: #d87d4a;
  text-transform: uppercase;
}

.article_title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  margin: 0;
}

.article_text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  text-align: justify;
  margin-top: 25px;
  margin-bottom: 50px;
}

.article_btn::before,
.h_article_btn::before {
  margin-top: 35px;
  content: "See product";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 160px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background: radial-gradient(#d87d4a, #d87d4a) center/0% 100% no-repeat;
  background-color: #d87d4a;
  text-transform: uppercase;
  font-size: 13px;
}

.article_btn:hover:before,
.h_article_btn:hover::before {
  width: 160px;
  content: "See product";
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #fff;
  border: 1px solid #d87d4a;
  background-size: 100% 100%;
}

.article_btn_ntsF::before,
.article_btn_ntsS::before {
  margin-top: 35px;
  content: "See product";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 160px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background: radial-gradient(#000, #000) center/0% 100% no-repeat;
  background-color: #000;
  text-transform: uppercase;
  font-size: 13px;
  z-index: 1000;
  position: absolute;
}

.article_btn_ntsF:hover::before,
.article_btn_ntsS:hover::before {
  width: 160px;
  content: "See product";
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #fff;
  border: 1px solid #000;
  background-size: 100% 100%;
}

.article_btn_ntsS::before {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

#alt_articles,
#alt_articles_home {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  gap: 30px;
}

#alt_articles {
  padding-top: 160px;
}

#alt_articles_home {
  padding-top: 230px;
  padding-bottom: 160px;
}

.alt_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 204px;
  width: 350px;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.164);
}

.alt_img {
  height: 160px;
  position: absolute;
  top: -90px;
  z-index: 50;
}

.box-shadow {
  position: absolute;
  top: 58px;
  width: 60px;
  height: 1px;
  box-shadow: 0px 0px 30px 40px rgba(0, 0, 0, 0.219);
  z-index: 5;
  border-radius: 50%;
}

.alt_title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
}

.alt_span {
  color: #d87d4a;
  font-weight: bold;
  font-size: 22px;
}

#span_best {
  color: #d87d4a;
}

.alt_container > a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.5;
  margin-bottom: 20px;
  font-family: sans-serif;
}

#add_produit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color : whitesmoke;
  font-weight: 700;
  border: solid 2px white;
  height: 100%;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

/* --------   add modal    -------- */

#add_modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -400px;
  visibility: hidden;
  width: 20vw;
  height: 100%;
  background-color: white;
  z-index: 1000;
  border-right: solid 3px black;
  transition: 450ms ease-out;
}

#add_modal.active {
  left: 0px;
  visibility: visible;
}

.closeByBg {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(83, 83, 83, 0.411);
  z-index: 900;
}

#modal_close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  background-color: rgb(134, 30, 30);
  height: 5vh;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 3px solid black;
}

/* --------   add modal    -------- */

#basket_modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -400px;
  visibility: hidden;
  width: 20vw;
  height: 100%;
  background-color: #F5F5F5;
  z-index: 1000;
  border-right: solid 3px black;
  transition: 450ms ease-out;
}

#basket_modal.active {
  right: 0px;
  visibility: visible;
}

#basket_close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  background-color: rgb(134, 30, 30);
  height: 5vh;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 3px solid black;
}

#basket_container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  gap: 7px;
  align-items: center;
}

#basket_h5 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.4);
  padding: 15px;
  width: 100%;
  background-color: white;
  font-weight: 500;
}

.item_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.item_description > p {
  height: fit-content;
  margin: 0;
}

#trash_icon {
  height: 50px;
  width: 50px;
  padding: 6px;
}

#trash_icon:hover {
  border-radius: 12px;
  border: solid 2px brown;
}

#paiement_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: none;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  background-color: #262626;
  color: #F5F5F5;
  font-weight: 600;
}

#paiement_btn:hover {
  background-color: #262626da;
}

/* --------   page produit    -------- */

.head_produit {
  height: 10vh !important;
  background-color: #262626 !important;
}

main {
  padding: 60px 200px 0 200px;
  width: 100%;
  background-color: #f2f2f2;
}

.GoBack {
  color: rgb(90, 90, 90);
  font-weight: 500;
}

.desc_container {
  max-width: 40%;
}

.article_container {
  display: flex;
  flex-direction: column;
}

.article_container_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 125px;
}

.Article_price {
  font-weight: 700;
  letter-spacing: 1.29px;
  font-size: 20px;
}

#Article_qte {
  font-weight: 700;
  font-size: 20px;
}

#back_container {
  width: 100%;
}

.new.P {
  margin-bottom: 16px;
}

.add_cart {
  margin-top: 30px;
  display: flex;
  width: fit-content;
  gap: 30px;
}

.counter {
  display: flex;
}

.count_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 48px;
  background-color: #e9e9e9;
  font-weight: 700;
  user-select: none;
  border: none;
}

#count {
  text-align: center;
  color: black;
}

.add_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 160px;
  background-color: #d87d4a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add_btn:hover {
  background-color: #cf926efd;
}

.priceStock {
  display: flex;
  gap: 30px;
}

/* --------  page categorie    -------- */

.head_categorie {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 100px;
  height: 34vh;
  background-color: #262626;
}

.head_categorie > h1 {
  color: whitesmoke;
}

/* --------   Footer    -------- */

footer {
  height: 365px;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
}

#left_footer {
  width: 540px;
  margin-left: 15%;
  padding-top: 75px;
  position: relative;
}

#footer_text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 36px;
  margin-bottom: 56px;
}

#footer_text2 {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 36px;
}

#right_footer {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  margin-top: 75px;
  align-items: flex-end;
}

#footer_link {
  padding-bottom: 105px;
}

#footer_link > a {
  text-decoration: none;
  color: #f1f1f1;
  margin-left: 20px;
}

#network_link {
  display: flex;
  gap: 20px;
}

.main-account {
  width: 100%;
  height: 90vh;
  justify-content: center;
  display: flex;
}

.account-info-user {
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: #262626;
  display: flex;
  flex-direction: column;
}

.account-info-orders {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.petit_bonhomme {
  text-align: center;
  margin-inline: auto;
  padding-top: 3vh;
}

.camion {
  text-align: center;
  margin-inline: auto;
  padding-top: 3vh;
}

.main_account_title h1 {
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  margin-inline: auto;
  text-align: center;
  color: white;
  font-weight: 700 !important;
}

.main_order_title h1 {
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  margin-inline: auto;
  text-align: center;
  color: black;
  font-weight: 700 !important;
}

.label-custom {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.input-custom {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.alert {
  position: absolute !important;
  top: 10vh !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}


