{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    <div class="head_produit"></div>

    <main>
        <a href='{{ path('app_home') }}' class='GoBack'><- Go back</a>
        
        <div class="article_container">
            <div class="article_img">
                <img src="" alt="">
            </div>
            <div class="desc_container">
                <div class="new">New product</div>
                <h1>{{ produit.nom }}</h1>
            </div>
        </div>
    </main>


{% endblock %}
