{% extends "base.html.twig" %}

{% block body %}

{# les trans ne fonctionne pas sur les pages erreurs, idk why #}
    <div class="head_produit"></div>
    <section class="section_error">
        <h1>Error 500</h1>
        <p>An error related to the server</p>
    </section>

{% endblock %}

{% block body %}


{% endblock %}