{% extends "base.html.twig" %}

{% block body %}

{# les trans ne fonctionne pas sur les pages erreurs, idk why #}
    <div class="head_produit"></div>
    <section class="section_error">
        <h1>error 404</h1>
        <p>Page not found</p>
    </section>
{% endblock %}